@use "../../../themes/page-header";

.header-container {
  .btn {
    button {
      border: 2px solid var(--secondary-color);
      background-color: #ffffff;
      font-size: 20px;
      border-radius: 30px;
      padding: 10px;
      width: 120px;
      cursor: pointer;
    }

    button:hover {
      background-color: var(--secondary-color);
      color: #ffffff;
    }
  }
}

.container {
  margin: 0px 20px;
  background-color: white;
  overflow-y: auto;
  border: 1px solid var(--primary-color);
  height: fit-content;
  padding: 0px 30px;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

  table {
    box-shadow: none;
    margin-bottom: 10px;
  }

  th,
  td {
    padding: 5px 0;
    text-align: center;
  }

  .table-header {
    color: var(--primary-color);
  }

  .table-items {
    transition: all ease-in-out 0.2s;
  }
  .table-items:hover {
    background-color: rgba(var(--secondary-color-semi-transparent));
    transition: all ease-in-out 0.2s;
  }
}

.actions {
  button {
    margin: 0 3px;
    border: 1px solid;
    border-radius: 5px;
    color: #ffffff;
    padding: 1px 8px;
    text-transform: none;
    font-size: large;
    cursor: pointer;

    i {
      font-size: 18px;
      transform: translateY(1px);
    }
  }

  .view {
    border-color: gray;
    background-color: gray;
  }

  .edit {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
  }
  .delete {
    border-color: var(--warning-color);
    background-color: var(--warning-color);
  }

  button:hover {
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -2px);
    background: white;
  }

  .view:hover {
    color: gray !important;
  }

  .edit:hover {
    color: var(--primary-color) !important;
  }
  .delete:hover {
    color: var(--warning-color) !important;
  }
}

mat-paginator {
  background: none;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 0 10px;
  }
}
