@use "../../../../../themes/page-header";
@use "../../../../../themes/card-list-base";
@use "../../../../../themes/custom-pagination";

.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 10px;

  .search-container {
    width: 300px;
  }

  .select-filter {
    width: 180px;
  }
}

.card {
  .info-section {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    mat-icon {
      color: rgba(0, 0, 0, 0.6);
      margin-right: 5px;
      overflow: visible;
    }
  }
}

.status {
  width: 200px;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px;

  &.rejected {
    background: linear-gradient(
      179.1deg,
      rgb(245, 86, 86) 2.3%,
      rgb(255, 21, 21) 98.3%
    );
  }

  &.pending {
    background: #e4c659;
  }

  &.approved {
    background: linear-gradient(
      179.1deg,
      rgb(43, 170, 96) 2.3%,
      rgb(129, 204, 104) 98.3%
    );
  }
  h3 {
    padding: 0;
    text-align: center;
    color: var(--primary-font-color);
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .filters {
    gap: 5px;
    > * {
      flex: 1;
    }
  }
}
