.weekly_report {
    padding: 0 15px;
    width: 100%; /* Adjust the width as needed */
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 30px;
}

table {
    margin-top: 20px;
    width: 100%;
    border: 1px solid var(--primary-color);
    background: white;
    border-spacing: 0;
    border-radius: 30px;
    overflow: hidden;

    thead {
        color: var(--primary-color);
    }

    th, td {
        font-size: 14px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        padding: 10px;
        text-align: center;
    }

    th {
        font-weight: 500;
    }

    td {
        font-weight: 400;
    }

    tr {
        transition: all ease-in-out .2s;
    }

    tr:not(:last-child):hover {
        background-color: rgba(137, 129, 33, .2);
    }
}




.total-hours {
    color: var(--primary-color);
    font-weight: 500;
    margin: 0;
    text-align: left;
    padding: 2px 5px;
}

.no-items-container {
    padding: 20px;
    animation: forwards fade-in .2s;
  
    p {
      font-size: 18px;
      color: #666;
    }
}