.container {
    display: flex;
    padding: 20px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.weekly_report {
    padding: 0 15px;
    width: 100%; /* Adjust the width as needed */
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 30px;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 0 0 20px 0;
    color: var(--primary-color);
    transform: translateX(-15px);
}

table {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-collapse: collapse;

    thead {
        color: var(--primary-color);
    }

    th, td {
        font-size: 14px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        padding: 10px;
        text-align: center;
    }

    th {
        font-weight: 500;
    }

    td {
        font-weight: 400;
    }

    tr {
        transition: all ease-in-out .2s;
    }

    tr:not(:last-child):hover {
        background-color: rgba(137, 129, 33, .2);
    }

    tr:last-child td {
        border-color: var(--primary-color);
    }
}




.total-hours {
    color: var(--primary-color);
    font-weight: 500;
    margin: 0;
    text-align: left;
    padding: 2px 5px;
}
