.loading {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .no-items-container {
    padding: 20px;
    animation: forwards fade-in .2s;
  
    p {
      font-size: 18px;
      color: #666;
    }
}