<main>
    <div class="container">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="date" >
                <th mat-header-cell *matHeaderCellDef class="col-md-3"> Date </th>
                <td mat-cell *matCellDef="let element" class="col-md-3"> {{ element.date }} </td>
            </ng-container>
        
          <ng-container matColumnDef="arrival_time">
            <th mat-header-cell *matHeaderCellDef class="col-md-3"> Arrival Time </th>
            <td mat-cell *matCellDef="let element" class="col-md-3"> {{ element.arrival_time }} </td>
          </ng-container>

          <ng-container matColumnDef="departure_time">
            <th mat-header-cell *matHeaderCellDef class="col-md-3"> Departure Time </th>
            <td mat-cell *matCellDef="let element" class="col-md-3"> {{ element.departure_time }} </td>
          </ng-container>

          <ng-container matColumnDef="total_hours">
            <th mat-header-cell *matHeaderCellDef class="col-md-3"> Total Hours </th>
            <td mat-cell *matCellDef="let element" class="col-md-3"> {{ element.total_hours }} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-items"></tr>
        </table>
        
        <div class="progress">
            <p>Progress {{ progress.total_hours }} hrs / {{ progress.required_hours }} hrs {{ progress.remarks}}</p>
        </div>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons
        aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

</main>

<!-- <div class="outer-container">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Arrival Time</th>
                    <th>Departure Time</th>
                    <th>Total Hours</th>
                    <th>Verified By:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5-10-2024</td>
                    <td>8:00 AM</td>
                    <td>5:00 PM</td>
                    <td>8 Hours</td>
                    <td>Mr. Supervisor</td>
                </tr>
                <tr>
                    <td>5-10-2024</td>
                    <td>8:00 AM</td>
                    <td>5:00 PM</td>
                    <td>8 Hours</td>
                    <td>Mr. Supervisor</td>
                </tr>
                <tr>
                    <td>5-10-2024</td>
                    <td>8:00 AM</td>
                    <td>5:00 PM</td>
                    <td>8 Hours</td>
                    <td>Mr. Supervisor</td>
                </tr>
                <tr>
                    <td>5-10-2024</td>
                    <td>8:00 AM</td>
                    <td>5:00 PM</td>
                    <td>8 Hours</td>
                    <td>Mr. Supervisor</td>
                </tr>
                <tr>
                    <td>5-10-2024</td>
                    <td>8:00 AM</td>
                    <td>5:00 PM</td>
                    <td>8 Hours</td>
                    <td>Mr. Supervisor</td>
                </tr>
            </tbody>
        </table>
        <div class="totalhours">
            <p>Total Hours: 40 Hours</p>
        </div>
    </div>
</div> -->
