// .container-header {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     margin-bottom: 20px;

//     h1 {
//         color: var(--tertiary-color);
//         opacity: .6;
//         font-size: 60px;
//         font-weight: 400;
//         padding: 10px;
//         line-height: 60px;
//         margin: 0;
//     }
// }

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-content {
    flex: 0 0 auto;
    width: 41.66666667%;
    display: flex;
    padding: 0 15px;
    flex-direction: column;

    .comment {
        display: flex;
        align-items: center;
        background-color: var(--semi-transparent-tertiary-color);
        height: 80px;
        padding: 15px;
        justify-content: center;  
        border-radius: 15px;  
        margin-bottom: 20px;
        
        p {
            padding-top: 10px;
        }
    }

    .upload {
        width: 100%;
        background-color: var(--semi-transparent-tertiary-color);
        border-radius: 15px;
        margin-bottom: 20px;

        .upload-content {
            padding: 0px 15px;

            .back-btn {
                padding-top: 15px;
                color: #898121;
                padding-bottom: 15px;
                cursor: pointer;
            }

            p {
                color: #898121;
                font-size: 22px;
                margin-bottom: 14px;
            }
            
            .files {
                .items {
                    border: none;
                    background-color: #B9B042;
                    height: 45px;
                    width: 100%;
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .name {
                        display: flex;
                        align-items: center;
                    }

                    .material-symbols-outlined {
                        font-size: 32px;
                        padding-right: 20px;
                        padding-left: 20px;
                    }

                    p {
                        font-size: 14px;
                        color: black;
                        margin: 0;
                    }

                    i {         
                        padding: 6px;
                        border-radius: 8px;
                        font-size: 14px;
                        color: white;
                        background: black;
                        margin-right: 8px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.right-content {
    flex: 0 0 auto;
    width: 58.3333333%;
    padding: 0 15px;
    .content {
        display: flex;
        flex-direction: column;
        background-color: var(--semi-transparent-tertiary-color);
        border-radius: 15px;
        width: 100%;
        min-height: 450px;

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            img {
                width: 200px;
                height: 200px;
                padding: 20px;
            }
        }

        .content-info {
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 10px;
        }

        .submit-btn {
            background-color: #898121;
            border: none;
            border-radius: 2rem;
            padding: 10px;
            width: 20%;
            text-align: center;
            color: #ffffff;
            float: right;
            margin: 0 10px 10px 0;
            cursor: pointer;
        }
    }
}

//for comment display 
.comment-log-container {
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: var(--semi-transparent-tertiary-color);
    border-radius: 15px;  
    margin-bottom: 20px;
}
.comment-log {
    display: flex;
    flex-direction: column;
    width: 100%;

    .message-container {
        padding: 5px 0;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .message-container:last-child {
        border-bottom: none;
    }
    
    i {
        width: 35px;
        font-size: 35px;
        color: #ffffff;
        margin-right: 5px;
    }

    .message {
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    h5 {
        font-size: 14;
        font-weight: 500;
        margin-bottom: 0;
    }
    p {
        width: 100%;
        margin: 0;
        outline: none;
        font-size: 12px;
        background-color: var(--semi-transparent-tertiary-color);
    }
}

@media only screen and (max-width: 1120px) {
    .container {
        flex-direction: column;
    }
    .left-content, .right-content {
        width: 100%;
    }
}

