.header {
    max-width: 900px;
    margin: auto;
    padding: 20px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    background-color: #ffffff; //b8

    h2 {
        text-align: center;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 20px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    // margin-right: -15px;
    // margin-left: -15px;
  }

mat-form-field {
    font-size: 14px;
}

form {
    pointer-events: none;
}

.table-one {
    margin-bottom: 20px;

    table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .content {
            text-align: start;
        }
    }
}

.table-two {
    margin-top: 20px;
    margin-bottom: 20px;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed; 

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
            word-wrap: break-word; 
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
            border: 1px solid #ccc;
        }

        .content {
            text-align: start;
            white-space: normal; 
            overflow-wrap: break-word;
        }

        th:first-child, 
        td:first-child {
            width: 60%; 
        }
    }
}

.rating, .large-textarea {
    
    padding-bottom: 20px;
}

.rating {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: auto;

    label {
        flex: 1 1 100px;
        display: flex;
        justify-content: center; 
        text-align: center;
        align-items: center;
        gap: 5px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 12px;
        margin: 5px;
    }
}

.large-textarea {

    h3 {
        display: block;
        margin-bottom: 10px;
    }

    textarea {
        width: 100%;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        resize: none; 
        outline: none;
        box-shadow: none;
    }
}

.testing {
    .row > div {
        display: flex;
        flex-direction: column;
    }
    input {
        border: 1px solid rgba(0, 0, 0, .12);
        padding: 12px 10px;
        border-radius: 5px;
    }
}


.hidden-in-view {
    display: none; 
}

