<ng-container *ngIf="!isLoading; else loading">
    <div class="header" *ngIf="exitPollDetails; else noItems">
        <h2 id="formContent0">OJT Exit Poll</h2>
        
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>First Name</mat-label>
                <input matInput [value]="exitPollDetails.user.first_name" placeholder="N/A" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Middle Name</mat-label>
                <input matInput [value]="exitPollDetails.user.middle_name" placeholder="N/A" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Last Name</mat-label>
                <input matInput [value]="exitPollDetails.user.last_name" placeholder="N/A" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Ext Name</mat-label>
                <input matInput [value]="exitPollDetails.user.ext_name" placeholder="N/A" readonly>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-2">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>program</mat-label>
                <input matInput [value]="exitPollDetails.user.student_profile.program" placeholder="None" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>year Level</mat-label>
                <input matInput [value]="exitPollDetails.user.student_profile.year_level" placeholder="None" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>OJT Site/Company Name</mat-label>
                <input matInput [value]="exitPollDetails.industry_partner.company_name" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Total Hours Completed</mat-label>
                <input matInput placeholder="None" readonly [value]="(exitPollDetails.total_hours_completed > exitPollDetails.required_hours) ? exitPollDetails.required_hours : exitPollDetails.total_hours_completed">
                </mat-form-field>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-7">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Company Address</mat-label>
                <input matInput [value]="exitPollDetails.industry_partner.full_address" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-5">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Assigned Position</mat-label>
                <input matInput [value]="exitPollDetails.response.assigned_position" readonly>
                </mat-form-field>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Unit/Department</mat-label>
                <input matInput [value]="exitPollDetails.response.assigned_department" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Brief Job Description</mat-label>
                <input matInput [value]="exitPollDetails.response.brief_job_description" readonly>
                </mat-form-field>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Name of Supervisor</mat-label>
                <input matInput [value]="exitPollDetails.industry_partner.immediate_supervisor.full_name" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Position</mat-label>
                <input matInput [value]="exitPollDetails.industry_partner.supervisor_position" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" floatLabel='always'>
                <mat-label>Duration of OJT</mat-label>
                <input matInput  placeholder="None" readonly [value]="exitPollDetails.required_hours" readonly>
                </mat-form-field>
            </div>
        </div>
    
        <form *ngIf="exitPollDetails" >
            <div class="table-one" id="formContent2">
                <h3>1. Relate your OJT Experience with the following OJT Standards/criteria:</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Criteria</th>
                            <th>Yes</th>
                            <th>No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of exitPollDetails.response.binary_question; let i = index">
                            <td class="content">{{ shortAnswerQuestions[i] }}</td>
                            <td><input type="radio" [name]="'short_' + i" [checked]="item === 1" value="1"></td>
                            <td><input type="radio" [name]="'short_' + i" [checked]="item === 0" value="0"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="table-two" id="formContent3">
                <h3>2. List down your training objectives and indicate the extent you have achieved them.</h3>
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">Training Objectives</th>
                            <th colspan="5">Level of Achievement</th>
                        </tr>
                        <tr>
                            <th>0%</th>                           
                            <th>25%</th>
                            <th>50%</th>
                            <th>75%</th>
                            <th>100%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let training_obj of exitPollDetails.response.short_question; let i = index">
                            <td class="content">
                                <span style="margin-right: 5px;">{{ alphabet[i] }}.  </span>
                                {{ training_obj.training_objective }}
                            </td>
                            <td><input type="radio" [name]="'obj_' + i" [checked]="training_obj.achievement_level == 0" value="0"></td>
                            <td><input type="radio" [name]="'obj_' + i" [checked]="training_obj.achievement_level == 1" value="1"></td>
                            <td><input type="radio" [name]="'obj_' + i" [checked]="training_obj.achievement_level == 2" value="2"></td>
                            <td><input type="radio" [name]="'obj_' + i" [checked]="training_obj.achievement_level == 3" value="3"></td>
                            <td><input type="radio" [name]="'obj_' + i" [checked]="training_obj.achievement_level == 4" value="4"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div id="formContent4">
                <h3>3. What is your overall rating of your training experience?</h3>
                <div class="rating">
                    <label>
                        <input type="radio" [checked]="exitPollDetails.response.likert_question == 0" name="experience_rating" [value]="0"> Poor
                    </label>
                    <label>
                        <input type="radio" [checked]="exitPollDetails.response.likert_question == 1" name="experience_rating" [value]="1"> Below Average
                    </label>
                    <label>
                        <input type="radio" [checked]="exitPollDetails.response.likert_question == 2" name="experience_rating" [value]="2"> Average
                    </label>
                    <label>
                        <input type="radio" [checked]="exitPollDetails.response.likert_question == 3" name="experience_rating" [value]="3"> Above Average
                    </label>
                    <label>
                        <input type="radio" [checked]="exitPollDetails.response.likert_question == 4"name="experience_rating" [value]="4"> Excellent
                    </label>
                </div>
            </div>
    
            <div class="large-textarea" id="formContent5">
                <h3>4. In your own opinion, what can be done to improve the OJT program so as to improve further the training of succeeding student trainees?</h3>
                <textarea >{{ exitPollDetails.response.long_question }}</textarea>
            </div> 
        
        </form>
    </div>
</ng-container>

<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #noItems>
    <div class="no-items-container">
        <p>Sorry, no data found</p>
    </div>
</ng-template>