<main>
  <div class="container-header">
      <h1>Announcements</h1>
  </div>

    <div class="card-container">
        <div class="card" *ngFor="let announcement of announcements; let i = index" [ngStyle]="{'animation-delay': (i * 0.1) + 's'}">
            <div class="image-container">
                <img [src]="(announcement.image) ? announcement.image : '/assets/images/LOGO.png'" alt="logo image" class="card-image">
            </div>
            <div class="card-details">
                <h2>{{ announcement.title }}</h2>
                <p><i class="fa-regular fa-calendar"></i>{{ announcement.created_at | date:'MMMM d, y'  }}</p>
                <p class="description">{{ announcement.description }}</p>

                <div class="view-button">
                    <button class="view"
                        mat-raised-button
                        matTooltip="View"
                        [matTooltipShowDelay] = "400"
                        (click)="Openview(announcement)">
                        <p>View</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
