.container {
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: fade-in 1s forwards; 
}


button {
    background: none;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #898121;
    cursor: pointer;

    .icon {
        margin-right: 10px;
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    &:hover {
        background: rgba(0,0,0,.08);
        transition: all .1s ease-in-out;
    }
}

.card {
    margin-top: 25px;
    padding: 20px;
    width: 100%;
    background-color: white;
    height: fit-content;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    .container-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 auto;
        width: 60%;
        padding: 40px 30px;

        .details-section {
            margin-bottom: 15px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px 0 5px 0;
                
                mat-icon {
                    color: rgba(0,0,0,0.60);
                    margin-right: 10px;
                    overflow: visible;
                }
            }
        }


        h2 {
            color: var(--primary-color);
            font-size: 30px;
            font-weight: 600;
        }

        h4 {
            font-weight: 600
        }

        p {
            text-align: justify;
        }

        .slots {
            color: va;
            padding: 10px 0px;
            font-size: 20px;
        }
    }

    .job-requirements {
        display: flex;
        flex-direction: column;

        .items {
            padding: 10px 5px 5px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            p {
                white-space: nowrap;
                border: 2px solid var(--primary-color);
                padding: 8px;
                border-radius: 25px;
                margin-right: 15px;
                margin-bottom: 10px;
            }
        }
    }

    .image {
        flex: 0 0 auto;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            max-width: 350px;
            height: fit-content;
            padding: 20px;
        }
    }
}

.card-accent {
    border-left: 4px solid var(--primary-color);
}
