/* Tabs */
.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 15px;
  // background: #ffffff;
}

a {
  color: #21D4FD;
  transition: all 0.3s;
}

.tabbed {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.tabbed [type="radio"] {
  display: none;
}

.tabs {
  display: flex;
  align-items: stretch;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 3.5px solid var(--primary-color);
  overflow-x: auto;

  .tab {
    flex: 1;
    min-width: 220px;
  }
}


.tab > label {
  color: var(--main-orange);
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 15px;
  padding: 15px 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.tab:hover label {
  color: #ffffff;
  background-color: #527853;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label {
  border-bottom-color: var(--tertiary-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #527853;
  color: var(--primary-font-color);
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tab-content {
  display: none;
  overflow-x: hidden;
  flex: 1;
  overflow-y: scroll;
  height: 100%;

  // padding: 20px 15px;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.details-content {
    display: flex;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    width: 960px;
    height: 95vh;

    .header {
        display: flex;
        padding: 20px;
        width: 100%;
        justify-content: space-between;
        background-color: var(--primary-color);
        border-radius: 5px 5px 0px 0px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
        color: white;

        h1 {
            font-weight: 700;
            font-size: 25px;
            text-align: left;
            margin: 0;
        }

        i {
            font-size: 25px;
            padding: 5px 5px 0 0;
            cursor: pointer;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow-y: scroll;
    }

    input,
    textarea {
        font-size: 14px;
        outline: none;
    }

    mat-label {
        font-size: 14px;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        padding-inline: 30px;
        padding-block: 60px;

        h3 {
            color: var(--primary-color);
            transform: translateX(-10px);
            padding-left: 20px;
        }

        .row {
            display: flex;
            // width: 900px;
            padding: 5px 0px;
            width: 100%;
        }

        .form-row {
            display: flex;
            flex-direction: row;
        }


        .file-input-container{
            width: 100%;
            padding-top: 15px;
            border-bottom: 2px solid #777777;
            padding-bottom: 10px;
            background-color: #F6F6F6;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 62.5px;
            display: block;
            position: relative;
        }

        .file-input{
            width: 100%;
            padding: 10px 5px 0 0;
            font-size: 14px;
            background-color: #F6F6F6;
            outline: none;
            border-bottom: 2px solid #777777;
        }

        .label{
            margin-left: 10px;
            left: 10px;
            color: #777777;
            font-size: 12px;
        }


        input[type="file"]::file-selector-button {
            letter-spacing: 0.5px;
            font-size: 14px;
            color: #ffffff;
            width: 100px;
            height: 30px;
            cursor: pointer;
            background-color: var(--primary-color);
            border: none;
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
            transition: background-color 200ms;
            left: 10px;
        }

      .btn {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        padding: 5px;
        padding-bottom: 20px;

        button {
            font-size: 15px;
            border: none;
            background-color: var(--main-orange);
            border: 2px solid var(--main-orange);
            color: #ffffff;
            padding: 6px;
            width: 100px;
            border-radius: 20px;
            cursor: pointer;
            font-weight: 500;
            transition: all .3s ease-in-out;
        }

        button:hover {
            color: var(--primary-color);
            background-color: #ffffff;
        }

        button[disabled]{
            // border: 1px solid #999999;
            border-color: #eeeeee;
            background-color: #bbbbbb;
            color: white;
          }
      }
    }
}


.upload-box {
  display: block;
  background: white;
  border-radius: 8px;
  text-align: start;

  h3 {
    color: var(--primary-color);
  }
}

.drop-zone {
  border: 2px dashed var(--primary-color);
  border-radius: 8px;
  padding: 40px;
  margin-top: 1rem;
  transition: background 0.3s ease;
  text-align: center;
  width: 97%;
}

.drop-zone.dragover {
  background-color: #f3e9fb;
}

.file-preview {
  margin-top: 1rem;


  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }

  p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #444;
  }
}

embed {
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}


.file-types,
.file-size {
  font-size: 0.8rem;
  color: gray;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 680px) {
    .details-content {
        .form-content {
            padding: 20px 10px;
        }

        .btn {
            margin-top: 0;
        }
    }

    .row {
        flex-direction: column;
    }

    .file-input-container {
        margin-bottom: 40px;
    }
}
