

<!-- <div class="container-header">
    <h1>Application</h1>
</div> -->

<div class="container">
    <div class="left-content">
        <div class="upload">
            <div class="back-btn" [routerLink]="['../../list']">
                <span class="back-icon">
                    <i class="fa-solid fa-arrow-left"></i>
                </span>
                <span>
                    Back
                </span>
            </div>

            <h4>Documents</h4>
                
            <div class="files">
                    
                <div class="items" *ngFor="let file of files; index as i"> 
                    <div class="name">
                        <span class="material-symbols-outlined">
                            picture_as_pdf
                        </span>
                        <p>{{ file.name }}</p>
                    </div>
                    <div>
                        <button matTooltip="Remove"
                        matTooltipShowDelay="200"
                        (click)="removeFile(i)">
                            <i class='bx bxs-x-circle'></i>
                        </button>
                    </div>
                    <!-- <i class="fa-solid fa-magnifying-glass" (click)="previewDocument(item)"></i> -->
                </div>
            </div>
        </div>
        <div class="file-upload">
            <input type="file" #fileInput (change)="uploadMultiple($event)"  accept="application/pdf" multiple/>
            <button (click)="fileInput.click()"> 
                {{ (files.length === 0) ? 'Upload Files' : 'Add Files' }} 
                <span class="plus">+</span>
            </button>
        </div>
    </div>

    <div class="right-content">
        <div class="content">
            <div *ngIf="industryPartner">
                <div class="image">
                    <img src="/assets/images/LOGO.png">
                </div>
    
                <div class="content-info">
                    <h2 style="font-weight: 600; margin-bottom: 10px;">{{ industryPartner.company_name }}</h2>
                    <p>{{ industryPartner.description }}</p>

                    <h3 style="margin: 0; font-weight: 600;" >Company Head:</h3>
                    <p> {{ industryPartner.company_head }}, {{ industryPartner.head_position }}</p>

                    <h3 style="margin: 0; font-weight: 600;" >Immediate Supervisor :</h3>
                    <p> {{ industryPartner.immediate_supervisor }}, {{ industryPartner.supervisor_position }}</p>
    
                    <ul>
                        <li>
                            <b>Company Address: </b>
                            {{  industryPartner.street }}
                            {{  industryPartner.barangay }}
                            {{  industryPartner.municipality }}
                        </li>
                        <li><b>Official Email Address:</b> {{ industryPartner.email }}</li>
                        <li *ngIf="industryPartner.telephone_number"><b>Telephone Number:</b> {{ industryPartner.telephone_number }}</li>
                        <li *ngIf="industryPartner.fax_number"><b>Fax Number:</b> {{ industryPartner.fax_number }}</li>
                        <li><b>Contact Number:</b> {{ industryPartner.mobile_number }}</li>
                        <li *ngIf="industryPartner.website"><b>Website:</b> {{ industryPartner.website }}</li>
                    </ul>
    
                    <!-- <div class="slots">
                        <p>Available Slots: <p>
                    </div>   -->
                    
                    <div class="apply-btn">
                        <button (click)="applicationConfirmation()" [disabled]="files.length == 0">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>