    <div class="container">
    <div class="header">
        <h1 class="head">Dashboard</h1>
    </div>

    <div class="content">
        <div class="total">
            <div style="background-color: var(--primary-color);">
                <p>Total Students Enrolled</p>
                <h1>{{ enrolled_student }}</h1>
            </div>

            <div style="background-color: #FABC3F;">
                <p>Pending Student Applicants</p>
                <h1>{{ student_ojt_status_count.pending }}</h1>
            </div>

            <div style="background-color: var(--secondary-color);">
                <p>Students in Ongoing OJT</p>
                <h1>{{ student_ojt_status_count.ongoing }}</h1>
            </div>

            <div style="background-color: #7C93C3;">
                <p>OJT-Completed Students</p>
                <h1>{{ student_ojt_status_count.completed }}</h1>
            </div>
        </div>

        <div class="graph">
            <div class="pie">
                <h1>Students Enrolled</h1>
                <canvas id="pieChart"></canvas>
            </div>

            <div class="bar">
                <h1>Students OJT Status</h1>
                <canvas id="barChart"></canvas>
            </div>
        </div>

    </div>
</div>



