<div class="container">
  <div class="header">
    <h1 class="head">Dashboard</h1>
  </div>
  <div class="options">
    <mat-form-field class="academic_year">
      <mat-label>Select Academic Year</mat-label>
      <mat-select
        disableRipple
        (selectionChange)="onAcademicYearFilterChange($event)"
        [(value)]="academicYearFilter"
      >
        <mat-option *ngFor="let item of academicYearOptions" [value]="item">
          AY{{ item.acad_year }}, {{ item.semester | semesterText }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="export">Export</button>
  </div>

  <div class="content">
    <div class="total">
      <div style="background-color: #fff8e8">
        <p>Total Students Enrolled</p>
        <h1>{{ enrolled_student }}</h1>
      </div>

      <div style="background-color: #fff8e8">
        <p>Pending Student Applicants</p>
        <h1>{{ ojtStatusCount.pending }}</h1>
      </div>

      <div style="background-color: #fff8e8">
        <p>Students in Ongoing OJT</p>
        <h1>{{ ojtStatusCount.ongoing }}</h1>
      </div>

      <div style="background-color: #fff8e8">
        <p>OJT-Completed Students</p>
        <h1>{{ ojtStatusCount.completed }}</h1>
      </div>
    </div>

    <div class="graph">
      <div class="pie">
        <h1>Students Enrolled</h1>

        <div class="chart-data-summary">
          <div class="data-item" *ngFor="let item of enrolledCourseCount">
            <span class="label">{{ item.course_code }}</span>
            <span class="value">{{ item.count }}</span>
          </div>
        </div>

        <canvas id="pieChart"></canvas>
      </div>

      <div class="bar">
        <h1>Students OJT Status</h1>
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>
</div>
