.head {
    color: var(--main-orange);
    opacity: .7;
}
h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;

    .total {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;

        div {
            flex: 1;
            border-radius: 15px;
            padding: 15px;
            text-align: center;
            min-width: 260px;
            margin: 15px;

            p {
                margin: 0;
                font-weight: 400;
                font-size: 15px;
                color: #ffffff;
            }

            h1 {
                margin: 10px 0 0 0;
                font-size: 48px;
            }
        }
    }

    .graph {
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        canvas {
            width: 100%; 
            height: 400px; 
        }

        
        .pie {
            flex: 1;
        }

        .bar {
            flex: 2;
        }


        .pie,
        .bar {
            min-width: 400px;
            height: fit-content;
            
            // width: 100%;
            border: 2px solid var(--secondary-color);
            padding: 20px;
            background-color: #FFF8E8;
            box-shadow: 0 4px 8px rgba(0,0,0,0.5);
            margin: 5px;
            margin-bottom: -20px;

            h1 {
                color: var(--secondary-color);
                font-size: 40px;
                text-align: center;
            }
            margin-bottom: 20px;
        }
    }

    .form-graph {
        display: flex;

        .exitpoll-graph,
        .evaluation-graph {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 40px 5px;

        canvas {
            width: 100%; 
            height: 400px; 
        }

        .bar-graph{
            border: 2px solid var(--secondary-color);
            padding: 20px;
            background-color: #FFF8E8;
            box-shadow: 0 4px 8px rgba(0,0,0,0.5);

            h1 {
                color: var(--secondary-color);
                font-size: 40px;
                text-align: center;
            }
        }
    }
    }   
}
  

