// .header {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   h1 {
//         color: var(--tertiary-color);
//         opacity: .6;
//         font-size: 60px;
//         font-weight: 400;
//         padding: 10px;
//   }
// }

.container {
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .company-name {
        margin-bottom: 20px;
    }

    .back-btn {
        display: flex;
        align-self: flex-start;
        margin-bottom: 20px;
        color: #898121;
        cursor: pointer;

        .icon {
            padding-right: 5px;
            font-size: 20px;
        }
    }
}

.card {
    margin-top: 25px;
    width: 100%;
    height: fit-content;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    h2 {
        font-weight: 500;
        font-size: 28px;
        padding: 10px 5px;
    }
    
    h3 {
        color: var(--primary-color);
        font-weight: 600;
        font-size: 24px;
    }

    h4 {
        margin-top: 10px;
        color: black;
        font-weight: 500;
        font-size: 18px;
    }

    p {
        padding-left: 5px;
        opacity: .7;
    }


    button {
        float: right;
        font-size: 14px;
        margin-left: 10px;
        padding: 8px 26px;
        border: none;
        border-radius: 2rem;
        background-color: var(--primary-color);
        color: white;
        font-weight: 500;
        border: 2px solid var(--primary-color);
        cursor: pointer;
    }

    button:hover {
        border: 2px solid var(--primary-color);
        background-color: white;
        color: var(--primary-color);
    }
}

.content {
    padding: 15px 20px;
}

.details {
    display: flex;
    width: 100%;
    height: fit-content; 
    justify-content: center;

    .container-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 auto;
        width: 60%;
        padding: 40px 20px 30px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                padding: 8px 0;
                span {
                    font-weight: 500;
                }
            }
        }

        p {
            text-align: justify;
        }
    }

    .image {
        flex: 0 0 auto;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            max-width: 350px;
            height: fit-content;
            padding: 20px;
        }
    }
}

.step-content {
    padding: 10px 20px;
}