<ng-container *ngIf="!isLoading; else loading">
  <div class="container">
    <button
      mat-button
      mat-ripple
      class="back-btn"
      [routerLink]="['../list']"
      routerLinkActive="router-link-active"
    >
      <span class="icon">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
      <p>Back</p>
    </button>

    <div class="card">
      <mat-stepper [linear]="true" #stepper>
        <mat-step>
          <ng-template matStepLabel>Company Details</ng-template>

          <div class="details">
            <div class="image">
              <img
                [src]="
                  industryPartner.image
                    ? industryPartner.image
                    : 'assets/images/logo.png'
                "
                alt="logo image"
              />
            </div>
            <div class="container-info">
              <div class="info">
                <div class="details-section">
                  <h2>{{ industryPartner.company_name }}</h2>
                  <p>{{ industryPartner.description }}</p>
                </div>

                <div class="details-section">
                  <p>
                    <b>Company Head:</b>
                    {{ industryPartner.company_head.full_name }},
                    {{ industryPartner.head_position }}
                  </p>
                </div>

                <div class="details-section">
                  <p>
                    <b>Immediate Supervisor :</b>
                    {{ industryPartner.immediate_supervisor.full_name }},
                    {{ industryPartner.supervisor_position }}
                  </p>
                </div>

                <div class="details-section">
                  <ul>
                    <li>
                      <mat-icon>location_on</mat-icon>
                      <p>
                        <b>Company Address: </b>
                        {{ industryPartner.full_address }}
                      </p>
                    </li>
                    <li>
                      <mat-icon>mail</mat-icon>
                      <p>
                        <b>Official Email Address:</b>
                        {{ industryPartner.email }}
                      </p>
                    </li>
                    <li *ngIf="industryPartner.telephone_number">
                      <mat-icon>call</mat-icon>
                      <p>
                        <b>Telephone Number:</b>
                        {{ industryPartner.telephone_number }}
                      </p>
                    </li>
                    <li *ngIf="industryPartner.fax_number">
                      <mat-icon>fax</mat-icon>
                      <p><b>Fax Number:</b> {{ industryPartner.fax_number }}</p>
                    </li>
                    <li>
                      <mat-icon>call</mat-icon>
                      <p>
                        <b>Contact Number:</b>
                        {{ industryPartner.mobile_number }}
                      </p>
                    </li>
                    <li *ngIf="industryPartner.website">
                      <mat-icon>public</mat-icon>
                      <p><b>Website:</b> {{ industryPartner.website }}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="step-content" *ngIf="industryPartner.remarks">
            <div>
              <h4 style="margin: 0; font-weight: 600">Remarks:</h4>
              <p>{{ industryPartner.remarks }}</p>
            </div>
          </div>
          <div>
            <button
              mat-button
              mat-ripple
              *ngIf="industryPartner.request_status != 3"
              matStepperNext
            >
              Next
            </button>
            <button
              class="warning"
              mat-ripple
              *ngIf="industryPartner.request_status === 2"
              (click)="reject()"
            >
              Decline
            </button>
          </div>
        </mat-step>
        <mat-step
          *ngIf="industryPartner.request_status != 3"
          [stepControl]="mouFormDetails"
        >
          <ng-template matStepLabel>MOU</ng-template>

          <div class="step-content">
            <div
              class="preview-container"
              *ngIf="industryPartner.request_status === 4"
            >
              <object
                [data]="sanitizeUrl(industryPartner.mou.file_location)"
                width="100%"
                height="550px"
              ></object>
            </div>

            <!-- ;else mouPreview -->
            <div
              class="stepper-content"
              *ngIf="industryPartner.request_status === 2"
            >
              <div
                class="row"
                style="
                  flex-direction: row;
                  display: flex;
                  justify-content: space-between;
                "
              >
                <div class="col-md-4">
                  <div class="file-input-container">
                    <div class="label">Upload MOU</div>
                    <input
                      class="file-input"
                      type="file"
                      accept=".pdf"
                      (change)="uploadFile($event)"
                    />
                  </div>
                </div>

                <div class="download" matTooltip="Download Prefilled MOU">
                  <div class="icon" (click)="downloadDocx()">
                    <!--(click)="toggleDownloadOptions($event)"-->
                    <i class="bx bxs-download" title="Download"></i>
                  </div>
                </div>
              </div>

              <form [formGroup]="mouFormDetails">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Start Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="mouStartDatePicker"
                        formControlName="start_date"
                        readonly
                      />

                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="mouStartDatePicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #mouStartDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="fill">
                      <mat-label>End Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="mouExpiryDatePicker"
                        formControlName="expiration_date"
                        readonly
                      />

                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="mouExpiryDatePicker"
                        [disabled]="mouFormDetails.get('endDate')?.disabled"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #mouExpiryDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="preview-container" *ngIf="filePreview">
                <img
                  *ngIf="isImage"
                  [src]="filePreview"
                  alt="File Preview"
                  class="image-preview"
                />
                <object
                  *ngIf="!isImage"
                  [data]="filePreview"
                  width="100%"
                  height="550px"
                ></object>
              </div>
            </div>
          </div>

          <div>
            <button
              mat-button
              matStepperNext
              (click)="showPassword = false"
              *ngIf="industryPartner.request_status === 2"
              [disabled]="!file"
            >
              Next
            </button>
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>
        <mat-step
          [stepControl]="accountDetails"
          *ngIf="industryPartner.request_status === 2"
        >
          <ng-template matStepLabel>Account Details</ng-template>
          <form [formGroup]="accountDetails" class="step-content">
            <p class="sub-text">
              All fields are required for account creation, and the password
              must be at least 8 characters long.
            </p>
            <div class="content">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="email"
                    readonly
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    matInput
                    formControlName="password"
                  />
                  <mat-icon
                    matSuffix
                    (click)="showPassword = !showPassword"
                    style="cursor: pointer"
                  >
                    {{ showPassword ? "visibility" : "visibility_off" }}
                  </mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Slots</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="slots"
                    type="number"
                  />
                </mat-form-field>
              </div>
            </div>

            <div>
              <button mat-button matStepperNext (click)="showPassword = false">
                Next
              </button>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </form>
        </mat-step>

        <mat-step
          [stepControl]="accountDetails"
          *ngIf="industryPartner.request_status === 2"
        >
          <ng-template matStepLabel>Review</ng-template>
          <div class="step-content">
            <h2>Company Details</h2>
            <div class="details">
              <div class="image">
                <img
                  [src]="
                    industryPartner.image
                      ? industryPartner.image
                      : 'assets/images/logo.png'
                  "
                  alt="logo image"
                />
              </div>
              <div class="container-info">
                <div class="info">
                  <div class="details-section">
                    <h2>{{ industryPartner.company_name }}</h2>
                    <p>{{ industryPartner.description }}</p>
                  </div>

                  <div class="details-section">
                    <p>
                      <b>Company Head:</b>
                      {{ industryPartner.company_head.full_name }},
                      {{ industryPartner.head_position }}
                    </p>
                  </div>

                  <div class="details-section">
                    <p>
                      <b>Immediate Supervisor :</b>
                      {{ industryPartner.immediate_supervisor.full_name }},
                      {{ industryPartner.supervisor_position }}
                    </p>
                  </div>

                  <div class="details-section">
                    <ul>
                      <li>
                        <mat-icon>location_on</mat-icon>
                        <p>
                          <b>Company Address: </b>
                          {{ industryPartner.full_address }}
                        </p>
                      </li>
                      <li>
                        <mat-icon>mail</mat-icon>
                        <p>
                          <b>Official Email Address:</b>
                          {{ industryPartner.email }}
                        </p>
                      </li>
                      <li *ngIf="industryPartner.telephone_number">
                        <mat-icon>call</mat-icon>
                        <p>
                          <b>Telephone Number:</b>
                          {{ industryPartner.telephone_number }}
                        </p>
                      </li>
                      <li *ngIf="industryPartner.fax_number">
                        <mat-icon>fax</mat-icon>
                        <p>
                          <b>Fax Number:</b> {{ industryPartner.fax_number }}
                        </p>
                      </li>
                      <li>
                        <mat-icon>call</mat-icon>
                        <p>
                          <b>Contact Number:</b>
                          {{ industryPartner.mobile_number }}
                        </p>
                      </li>
                      <li *ngIf="industryPartner.website">
                        <mat-icon>public</mat-icon>
                        <p><b>Website:</b> {{ industryPartner.website }}</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <h2>Account Details</h2>
            <div class="content">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    type="text"
                    matInput
                    [value]="accountDetails.get('email')?.value"
                    readonly
                  />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    matInput
                    [value]="accountDetails.get('password')?.value"
                    readonly=""
                  />
                  <mat-icon
                    matSuffix
                    (click)="showPassword = !showPassword"
                    style="cursor: pointer"
                  >
                    {{ showPassword ? "visibility" : "visibility_off" }}
                  </mat-icon>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Slots</mat-label>
                  <input
                    type="text"
                    matInput
                    [value]="accountDetails.get('slots')?.value"
                    readonly
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="btn">
              <button mat-button (click)="approveConfirmation()">
                Approve
              </button>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
