<!-- <div class="header">
  <h1>Industry Partners</h1>
</div> -->

<div class="container">
    <div class="back-btn" [routerLink]="['list']" routerLinkActive="router-link-active">
        <span class="icon">
            <i class="fa-solid fa-arrow-left"></i>
        </span>
        <span class="btn-name">
            Back
        </span>
    </div>

    <div class="content">
        <div class="image">
            <img [src]="(industryPartner.image) ? industryPartner.image : '/assets/images/LOGO.png'" alt="logo image">
        </div>
        <div class="container-info">
            <div class="info">
                <h2>{{ industryPartner.company_name }}</h2>
                <p>{{ industryPartner.description }}</p>

                <h3 style="margin: 0; font-weight: 600;" >Company Head:</h3>
                <p> {{ industryPartner.company_head.full_name }}, {{ industryPartner.head_position }}</p>

                <h3 style="margin: 0; font-weight: 600;" >Immediate Supervisor :</h3>
                <p> {{ industryPartner.immediate_supervisor.full_name }}, {{ industryPartner.supervisor_position }}</p>
                
                <ul>
                    <li>
                        <b>Company Address: </b>
                        {{  industryPartner.street }}
                        {{  industryPartner.barangay }}
                        {{  industryPartner.municipality }}
                    </li>
                    <li><b>Official Email Address:</b> {{ industryPartner.email }}</li>
                    <li *ngIf="industryPartner.telephone_number"><b>Telephone Number:</b> {{ industryPartner.telephone_number }}</li>
                    <li *ngIf="industryPartner.fax_number"><b>Fax Number:</b> {{ industryPartner.fax_number }}</li>
                    <li><b>Contact Number:</b> {{ industryPartner.mobile_number }}</li>
                    <li *ngIf="industryPartner.website"><b>Website:</b> {{ industryPartner.website }}</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="account">
        <h3>Partner's Account</h3>
        <p>All fields are required for account creation, and the password must be at least 8 characters long.</p>

        <div class="input">
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
        </div>

        <div class="btn">
            <button>Save</button>
        </div>
    </div>
    
</div>

