.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to right,
        #EE7214 0%,
        #EE7214 50%,
        #F9E8D9 50%,
        #F9E8D9 100%
    );
    width: 100%;
    height: 100vh;
}


.content {
    background-color: var(--main-bg-color);
    margin: 5% 2%;
    display: flex;
    max-height: 600px;
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 10rem;
    animation: rotateScaleIn 1.5s ease-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: auto;
}

@keyframes rotateScaleIn {
    0% {
        transform: translateX(-100%) rotate(-10deg) scale(0.9);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

.left-content {
    display: flex;
    flex-direction: column;
    width: 50%;

    .upper {
        display: flex;
        align-items: center;
        margin-left: 20px;
        animation: slideDownFadeIn 1.5s ease-out;

        img {
            height: 70px;
            margin: 10px;
            animation: pulse 3s infinite alternate, tilt 2s infinite ease-in-out;
        }

        .titles {
            font-size: 10px;
            margin-left: 3px;

            p {
                margin: -5px;
            }

            .app-name {
                font-size: 13px;
                font-weight: 500;
            }
        }
    }

    .lower {
        height: 100%;
        .clipart {
            transform: translateX(50px) scale(1.3);
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            img {
                max-height: 500px;
                width: 100%;
                animation: pulse 3s infinite alternate, tilt 2.5s infinite ease-in-out;
            }

        }
        
    }
}

@keyframes slideDownFadeIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.9;
    }
    100% {
        transform: scale(1.05);
        opacity: 1;
    }
}

@keyframes tilt {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

.right-content {
    width: 50%;
    border: rgba(219, 130, 40, 0.5);
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;

    .upper-clipart img,
    .lower-clipart img {
        height: 150px;
        animation: pulse 3s infinite alternate, tilt 3s infinite ease-in-out;
    }

    .upper-clipart img {
        float: right;
    }

    .login-content {
        margin: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        animation: zoomFadeIn 1.5s ease-out;

        h1 {
            text-align: center;
            font-size: 38px;
            color: var(--main-bg-color);
            opacity: 0.8;
            animation: fadeIn 2s ease-in-out, glow 2s ease-in-out infinite alternate;
        }

        img {
            animation: slideDownFadeIn 1.5s ease-out;
            display: none;
        }

        @keyframes glow {
            0% {
                text-shadow: 0 0 5px var(--main-bg-color);
            }
            100% {
                text-shadow: 0 0 20px var(--main-bg-color);
            }
        }

        form {
            padding: 20px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .input {
                width: 100%;
                max-width: 350px;
                display: flex;
                flex-direction: column;

                .input-container {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    animation: fadeIn 2s ease-in-out;

                    mat-icon {
                        position: absolute;
                        transform: translateX(20px);
                    }

                    input {
                        padding: 20px 55px;
                        width: 100%;
                        border: none;
                        border-radius: 30px;
                        background-color: #F9E8D9;
                        color: var(--primary-color);
                        font-size: 14px;
                        outline: none;
                    }
                }
            }

            button {
                margin-left: auto;
                border: none;
                color: var(--secondary-color);
                background-color: #F9E8D9;
                border: 2px solid #F9E8D9;
                margin-top: 10px;
                padding: 10px 20px;
                font-size: 19px;
                border-radius: 20px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }

            button:hover {
                background-color: rgba(219, 130, 40, 0.3);
                color: var(--main-bg-color);
                transform: scale(1.1);
                transition: all 0.2s ease-in-out;
                border-color: var(--secondary-color);
            }
        }
    }
}

@keyframes zoomFadeIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 1080px) {
    .left-content {
        .lower {
            height: 100%;
            .clipart {
                transform: translateX(0px) scale(1.2) ;
            }
        }
    }


}
@media (max-width: 768px) {
    .container {
        background: #faf8ed;
    }
    .content {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
    }

    .right-content {
        width: 100%;
        height: auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .login-content {
            img {
                display: block;
                margin-bottom: 20px;
            }
        }
    }

    .left-content {
        display: none;
    }

    .login-content {
        text-align: center;
    }

    .login-content img {
        margin-top: 20px;
        height: 150px;
    }

    .upper-clipart img {
        display: none;
    }

    .lower-clipart {
        display: none;
    }


    input {
        width: 100%;
    }
    
    h1 {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }
}
