@use "../../../../../themes/page-header";
@use "../../../../../themes/card-list-base";
@use "../../../../../themes/custom-pagination";

.search {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  form {
    flex: 1;
    max-width: 400px;
  }

  .btn {
    button {
      border: 2px solid var(--secondary-color);
      background-color: #ffffff;
      font-size: 20px;
      border-radius: 30px;
      padding: 10px;
      width: 120px;
      cursor: pointer;

      &:hover {
        background-color: var(--secondary-color);
        color: #ffffff;
      }
    }
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .mobile-options {
    flex: 1;
    display: none;
  }

  .web-options {
    display: flex;
    flex-direction: row;
  }

  .filter-container {
    flex: 1 1 220px;
    max-width: 220px;
  }

  button {
    padding: 2px 8px;
    font-size: 18px;
    background-color: var(--main-bg-color);
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  .filter-view {
    button {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .filter {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    position: relative;
  }

  .filter button {
    background: none;
    border: none;
    font-size: 18px;
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
    // z-index: 1;
  }

  .filter::before {
    content: "";
    position: absolute;
    transform: translateY(-20px);
    bottom: 0; /* Place the underline right below the button text */
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s ease-in-out;
  }

  .filter.active::before {
    width: 100%;
  }
}

.card {
  .info-section {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    mat-icon {
      color: rgba(0, 0, 0, 0.6);
      margin-right: 5px;
      overflow: visible;
    }
  }

  .status {
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;

    h3 {
      padding: 0;
      text-align: center;
      color: var(--primary-font-color);
      width: 100%;
    }
  }
}

/* Container for nice padding and rounded corners */
.table-wrapper {
  margin: 0px 20px;
  background-color: white;
  overflow-y: auto;
  border: 1px solid var(--primary-color);
  height: fit-content;
  padding: 0px 30px;
  border-radius: 30px;
  box-shadow: var(--shadow);
}

/* Table styling */
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper th {
  color: var(--primary-color);
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  white-space: nowrap;
}

/* Body row styling */
.table-wrapper td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;

  .view,
  .edit,
  .delete,
  .unarchive {
    background-color: transparent;
  }

  .view {
    color: gray;
  }

  .edit {
    color: var(--primary-color);
  }
  .delete {
    color: var(--warning-color);
  }
  .unarchive {
    color: #28a745;

    &:hover {
      background-color: rgba(40, 167, 69, 0.1);
    }
  }
}

.table-wrapper .row:hover {
  background-color: rgba(var(--secondary-color-semi-transparent));
  transition: all ease-in-out 0.2s;
}

.table-wrapper .view-button {
  background-color: #4f7942;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.table-wrapper .view-button:hover {
  background-color: #3e6335;
}

@media only screen and (max-width: 680px) {
  .table-wrapper {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1080px) {
  .controls {
    padding: 10px;
    .web-options {
      display: none;
    }
    .mobile-options {
      display: block;
    }
  }

  .table-wrapper {
    margin: 0 10px;
  }
}
