<div class="header">
    <h1>Students</h1>
</div>

<div class="buttons">
    <div class="filter-container">
        <div [class.active]="statusFilter == 'all'" class="filter">
            <button (click)="onStatusFilterChange('all')">All Students</button>
        </div>
        <div [class.active]="statusFilter == 'completed'" class="filter">
            <button (click)="onStatusFilterChange('completed')">Completed</button>
        </div>
        <div [class.active]="statusFilter == 'ongoing'" class="filter">
            <button (click)="onStatusFilterChange('ongoing')">Ongoing</button>
        </div>
        <div [class.active]="statusFilter == 'pending'" class="filter">
            <button (click)="onStatusFilterChange('pending')">Pending</button>
        </div>

    </div>
    <div class="right">
        <div class="filter-container">
            <mat-form-field floatLabel="always">
                <mat-label>Search</mat-label>
                <input #searchInput (input)="search(searchInput.value)" matInput placeholder="Aa" />
                <mat-icon *ngIf="searchInput.value" matIconSuffix (click)="searchInput.value = ''"> close</mat-icon>
            </mat-form-field>
        </div>
        <div class="filter-container">
            <mat-form-field>
                <mat-label>Class Filter</mat-label>
                <mat-select disableRipple (selectionChange)="onClassFilterChange($event)" [(value)]="classFilter">
                    <mat-option value="all"> All Classes</mat-option>
                    <mat-option *ngFor="let option of classList" [value]="option"> {{ option }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button class="export" (click)="downloadExcel()">Export</button>
    </div>
</div>

<div class="container">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef class="col-md-2"> Name </th>
            <td mat-cell *matCellDef="let element" class="col-md-2"> {{ element.full_name }} </td>
        </ng-container>
        
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef class="col-md-3"> Company </th>
            <td mat-cell *matCellDef="let element" class="col-md-3"> {{ (element.accepted_application) ? element.accepted_application.company_name: 'N/A' }} </td>
        </ng-container>
        
        <!-- inactive -->
        <ng-container matColumnDef="student_number" >
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Student Number </th>
            <td mat-cell *matCellDef="let element" class="col-md-1"> {{ element.email }} </td>
        </ng-container>
        
        <ng-container matColumnDef="course" >
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Course </th>
            <td mat-cell *matCellDef="let element" class="col-md-1"> {{ element.active_ojt_class.course_code }} </td>
        </ng-container>

        <!-- inactive -->
        <ng-container matColumnDef="mobile" >
            <th mat-header-cell *matHeaderCellDef class="col-md-2"> Mobile Number </th>
            <td mat-cell *matCellDef="let element" class="col-md-2"> {{ element.student_profile.contact_number }} </td>
        </ng-container>
    
        <!-- inactive -->
        <ng-container matColumnDef="program">
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Program </th>
            <td mat-cell *matCellDef="let element" class="col-md-1"> {{ element.student_profile.program }} </td>
        </ng-container>
      
        <ng-container matColumnDef="year_level">
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Year </th>
            <td mat-cell *matCellDef="let element" class="col-md-1"> {{ element.student_profile.year_level }} </td>
        </ng-container>
        
        <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef class="col-md-2"> Progress </th>
            <td mat-cell *matCellDef="let element" class="col-md-2" style="
                flex-direction: column;">  
                {{ (element.status === "Pending") ? 'N/A' :  element.progress + ' hrs' + '/' + element.active_ojt_class.required_hours + ' hrs' }} 
                <p class="sub-text" *ngIf="element.progress >= element.active_ojt_class.required_hours">Completed</p>
                <p class="sub-text" *ngIf="element.status == 'Ongoing'"> {{ getProgressPercentage(element.progress, element.active_ojt_class.required_hours) }}%</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="student_evaluation">
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Student Evaluation </th>
            <td mat-cell *matCellDef="let element" class="col-md-1">  {{ (element.student_evaluation) ?  element.student_evaluation : 'N/A' }} </td>
        </ng-container>

        <ng-container matColumnDef="exit_poll">
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Exit Poll </th>
            <td mat-cell *matCellDef="let element" class="col-md-1">  {{ (element.ojt_exit_poll) ? 'Answered' : 'Not Completed'}} </td>
        </ng-container>
        
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="col-md-2"> Status </th>
            <td mat-cell *matCellDef="let element" class="col-md-2">  {{ element.status }} </td>
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="col-md-1"> Action </th>
            <td mat-cell *matCellDef="let element" class="col-md-1">
                <div>
                    <button (click)="viewStudent(element.id)" >View</button>
                </div>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-items"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons
    aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
