<main>
  <div class="container-header">
      <h1>Application Status</h1>
  </div>

  <div class="card-container">
      <div class="card" *ngFor="let application of applications; let i = index" [ngStyle]="{'animation-delay': (i * 0.1) + 's'}">
        <div class="status" 
        [class.rejected]="application.status == 1 || application.status == 2"
        [class.pending]="application.status == 0"
        [class.monitoring]="application.status == 3"
        >
            <h3>{{ application.status_text  }}</h3>
        </div>

            <img [src]="(application.industry_partner.image) ? application.industry_partner.image : '/assets/images/LOGO.png'" alt="logo image" class="card-image">
            <h2>{{ application.industry_partner.company_name }}</h2>
            <p>{{ application.industry_partner.municipality }}</p>

            <div class="view-button">
                <button class="view" [routerLink]="['../view/' + application.id]" routerLinkActive="router-link-active" ><b>View</b></button>
            </div>
      </div>
  </div>
</main>
