@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  h1 {
      color: var(--tertiary-color);
      opacity: .6;
      font-size: 60px;
      font-weight: 400;
      padding: 10px;
  }

  .btn {

      button {
        border: 2px solid var(--tertiary-color);
        color: var(--primary-font-color); 
          background-color: #ffffff;
          font-size: 20px;
          border-radius: 30px;
          padding: 10px;
          width: 120px;
          cursor: pointer;
      }

      button:hover {
        background-color: var(--tertiary-color);
        color: #ffffff;
      }
  }
}
  .card-container {
    padding: 10px 0px;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    gap: 8px;
  }
  .card {
    width: auto;
    // height: fit-content;
    background-color: #ffffff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);  /*Card shadow */
    border: solid 2px var(--border-color);
    margin: 10px;
    padding: 20px;
    transform: scale(1);
    transition: all .2s ease-in;
    
    animation: fade-in 1s forwards; 
    opacity: 0;         
    will-change: opacity;    

    .status {
      width: 35%;
      height: 30px;
      margin-bottom: 15px;
      border-radius: 5px;

      //rejected and cancelled
      &.rejected {
        background: linear-gradient(179.1deg, rgb(245, 86, 86) 2.3%, rgb(255, 21, 21) 98.3%);
      }

      //accepted and pending
      &.pending {
        background: linear-gradient(179.1deg, rgb(243, 255, 70) 2.3%, rgb(201, 220, 105) 98.3%);
      }

      //monitoring
      &.monitoring {
        background: linear-gradient(179.1deg, rgb(43, 170, 96) 2.3%, rgb(129, 204, 104) 98.3%);
      }
      h3 {
        padding: 0;
        text-align: center;
        color: white;
      }
    }

  }

  .card:hover{
    transform: scale(1.05);
    transition: all .2s ease-in;
  }

/* CARD CONTENTS */
.card-image {
    width: 100%; /* or any specific width */
    height: 200px; /* or any specific height */
    background-color: #f3f3f3; /* a light grey placeholder color */
    border-radius: 5px; /* if you want rounded corners */
    margin-bottom: 10px; /* space between the image and the text below */
    object-fit: contain;
  }

  .card h2 {
    font-size: medium; /* Larger title text */
    margin: 0;
  }
  .card p {
    font-size:small;
  }

 /* CARD BUTTON */
  .view-button {
    display: flex;
    height: 12%;
    flex-direction: row-reverse;
  }

  .card button {
    background-color: var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 5px; /* Rounded corners */
    color: var(--primary-font-color);
    padding: 3px 20px;
    text-transform:none;
    font-size: medium;
    cursor: pointer;
}
  .card button:hover {
    box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
    transform: translate(0px, -2px);
    background: white;
    color: var(--tertiary-color);
    cursor: pointer;
  }

  .loading-animation {
    /* Set the container to position:relative for absolute positioning of loading animation */
    position: relative;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-animation:before {
    /* Create a circular loading animation */
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: -200px;
    border-radius: 50%;
    border: 10px solid #ccc;
    border-top-color: #31A463;
    animation: spin 1s linear infinite;
}

.no-items-container {
  text-align: center;
  margin-top: 200px;
  margin-right: 200px;
}

.no-items-container img {
  max-width: 200px;
  margin-bottom: 20px;
}

.no-items-container p {
  font-size: 18px;
  color: #666;
}


.pagination-container {
  grid-column: 1 / -1;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end ;
}

.pagination {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 30px;
  flex-wrap: wrap;
  align-items: center;

  div {
    padding: 20px 20px;
  }

  button {
    margin: 0px 10px;
    border: none;
    background: none;
    cursor: pointer;
  }

  // button:hover {
  //   // background-color: red;
  // }

  button:disabled {
    opacity: 0.5;
    cursor: default;
  }
  button:disabled img {
    background-color: transparent !important;
  }

  p {
    font-size: large;
  }
}

.icons img {
  width: 30px;
  height: 30px;
  object-fit: none;
  border-radius: 50%;
  padding: 0px 10px;
  transform: scale(1.4);
  transition: all .2s ease-in-out;
}

.icons img:hover{
  background-color: #e2e2e2;
  transition: all .2s ease-in-out;
}

@media only screen and (min-width: 1900px) {
  .card-container {
    grid-template-columns: repeat(4, minmax(20%, 1fr));
  }
}

@media only screen and (max-width: 1120px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(40%, 1fr));
  }
}