<div class="header-container">
  <h1>Settings</h1>
</div>

<div class="options">
  <mat-form-field class="academic_year">
    <mat-label>Select Academic Year</mat-label>
    <mat-select
      disableRipple
      (selectionChange)="onAcademicYearFilterChange($event)"
      [(value)]="academicYearFilter"
    >
      <mat-option *ngFor="let item of academicYearOptions" [value]="item">
        AY{{ item.acad_year }}, {{ item.semester | semesterText }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ng-container *ngIf="!isLoading; else loading">
  <div class="container">
    <div class="card-container">
      <div class="card signatories">
        <h3>MOA Signatories</h3>
        <form class="input-container" [formGroup]="moaSignatoriesFormDetails">
          <div>
            <h4>College President</h4>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>College President</mat-label>
              <input
                matInput
                type="text"
                formControlName="college_president"
                placeholder="Name"
              />
            </mat-form-field>
          </div>
          <div>
            <h4>CCS Dean</h4>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>CCS Dean</mat-label>
              <input
                matInput
                type="text"
                formControlName="ccs_dean"
                placeholder="Name"
              />
            </mat-form-field>
          </div>
        </form>
        <div class="btn">
          <button type="button" (click)="saveMoaSignatories()">Save</button>
        </div>
      </div>
      <div class="card" *ngIf="duration.length > 0">
        <h3>Practicum Hours</h3>
        <div class="ojt-hours">
          <form [formGroup]="ojtDurationFormDetails">
            <div formArrayName="duration">
              <ng-container
                *ngFor="let durationForm of duration.controls; index as i"
              >
                <div class="practicum" [formGroupName]="i">
                  <h4>{{ duration.at(i).get("course_code")?.value }}</h4>

                  <div class="input">
                    <mat-form-field appearance="outline" floatLabel="always">
                      <mat-label>Practicum Hours</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="required_hours"
                        placeholder="Duration"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </ng-container>
            </div>
          </form>
        </div>

        <div class="btn">
          <button
            type="button"
            [disabled]="ojtDurationFormDetails.invalid"
            (click)="savePracticumHours()"
          >
            Save
          </button>
        </div>
      </div>

      <div class="card">
        <div class="history-header">
          <h3>Modification History</h3>
        </div>

        <div
          class="history-list"
          *ngIf="historyEntries.length > 0; else noItems"
        >
          <div *ngFor="let entry of historyEntries" class="history-entry">
            <p>{{ entry.action_desc }} at {{ entry.created_at }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #noItems>
  <div class="no-items-container">
    <p>Sorry, no data found</p>
  </div>
</ng-template>
